*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

@media (max-width:"768px") {
  .MainDiv{
    width: 55%;
  }
}
.MainDiv{
  width: 1000px;
  height: 600px;
  background-image: linear-gradient(-225deg, #9EFBD3 0%, #57E9F2 48%, #45D4FB 100%);
  border-radius: 30px;
  border:none;
  align-items:baseline;
  text-align: center;



}
.app{
  width: 1200px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(-225deg, #CBBACC 0%, #2580B3 100%);

  align-items: center;
}
.add{
  background-color: cadetblue;
   border-radius: 50px;
}
.add:hover{
  background-color: greenyellow;
  cursor: pointer;
}
.fa-times{
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 30px;
  font-size: 20px;
  border: none;
  align-items: center;
  text-align: center;
 
}
.fa-times:hover{
  cursor: pointer;
  background-color: darkred;
}
li{
  list-style: none;
  text-align: left;
}
.border{
  border: none;
  border-radius: 20px;
  box-shadow: none;
}